.main{
    display: grid;
    place-items: center;
}

.table th{
    width: 300px;
    text-align: center;
}

.table td{
    text-align: center;
}

.expandChildTable:before {
    content: "+";
    display: block;
    cursor: pointer;
}
.expandChildTable.selected:before {
    content: "-";
}
.childTableRow {
    display: none;
}
.childTableRow table {
    border: 1px solid #555;
}
